@page
@model PrivacyModel
@{
    ViewData["Title"] = "About this assignment";
}
<h1>@ViewData["Title"]</h1>

<p>This exercise teaches the students to deal with C#. It provides the basics of MVC design pattern. <br>
    It also expands on the AJAX library with RESTful requests. </p>
